header {
    padding: 20px 0;
    width: 100%;
}
main {
    margin: auto;
    width: 940px;
    height: 650px;
    padding: 5px;
}
.caja {
    width: 100%;
    float: left;
}
.logo {
    margin-top: 1%;
    margin-left: 25%;
    float: inherit;
}
.titulo {
    margin-top: 2%;
    margin-left: 12%;
    float: inherit;
    color: #df5527;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #fceee9;
}

html {
    font-size: 16px;
}

#hombre {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

.hombre-ahorcado {
    width: 100%;
    text-align: center;
    margin-top: 6.8rem;
    margin-bottom: 2rem;
    max-height: 25rem;
}

.adivinado {
    text-align: center;
    margin-top: 1rem;
    color: rgb(68, 45, 37);
}

.letra{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.adivinada {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    color: #df5527;
    border-bottom: solid 1px #df5527;
    margin-left: 0.5rem;
    line-height: 7rem;
}

.errado {
    text-align: center;
    margin-top: 1.3rem;
    color: rgb(68, 45, 37);
    margin-left: 1rem;
}

.errada {
    margin-left: 1rem;
}

[type="button"] {
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px #df5527;
    color: #df5527;
    cursor: pointer;
    background-color: inherit;
    font-weight: bold;
}

.btn-rosa{
    background-color: #df5527;
    color: #fff;
}

.botones {
    text-align: center;
    margin-top: 3rem;
}






footer {
    text-align: center;
    padding: 40px;
}